.container {
  width: 50%;
  height: 90%;
  margin: 20px auto;
  padding-bottom: 50px;
  background-color: rgb(197, 197, 214);
}

.buttons {
  width: 80%;
  margin: 5px auto;
  padding-bottom: 10px;
}
